node_modules/
npm-debug.log*
yarn.lock
package-lock.json

.sass-cache/
*.css.map
*.scssc
*.sassc

.cache/
.DS_Store
Thumbs.db
*.log

/vendor/
composer.lock

dist/
build/

.vite/
*.local
*.env
.env.*
!.env.example

wp-content/uploads/
wp-content/plugins/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
ehthumbs.db
Icon?
desktop.ini
